<div class="mt-4">
    <h3>THÊM MỚI HỌC VIÊN</h3>
    <form method="POST" action="/students/store">
        <div class="form-group">
            <label for="fullName">Tên học viên</label>
            <input type="text" class="form-control" id="fullName" name="fullName">
        </div>
        <div class="form-group">
            <label for="studentCode">Mã học viên</label>
            <input type="text" class="form-control" id="studentCode" name="studentCode">
        </div>
        <div class="form-group">
            <label for="birthday">Ngày sinh</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
        <div class="form-group">
            <label for="gender">Giới tính</label>
            <input type="text" class="form-control" id="gender" name="gender">
        </div>
        <div class="form-group">
            <label for="gene">Khóa</label>
            <input type="text" class="form-control" id="gene" name="gene">
        </div>
        <div class="form-group">
            <label for="city">Thành phố</label>
            <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="certificated">Hệ đào tạo</label>
            <input type="text" class="form-control" id="certificated" name="certificated">
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới học viên</button>
    </form>
</div>