<div class="mt-4">
    <h3>THÊM MỚI KHÓA HỌC</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="subCode">Mã định danh khóa học</label>
            <input type="text" class="form-control" id="subCode" name="subCode">
        </div>
        <div class="form-group">
            <label for="videoCode">Link video khóa học</label>
            <input type="text" class="form-control" id="videoCode" name="videoCode">
        </div>
        <div class="form-group">
            <label for="level">Độ khó khóa học</label>
            <select class="form-control" id="level" name="level">
                <option value="1">Nhập môn</option>
                <option value="2">Dễ</option>
                <option value="3">Trung bình</option>
                <option value="4">Khó</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Thời lượng khóa học</label>
            <input type="text" class="form-control" id="duration" name="duration">
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới khóa học</button>
    </form>
</div>